@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
body {
    margin: 0;
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
    
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.full {
    height: 133px;
    margin: 0 auto;
    width: 100%;
    background-size: cover;
    background-color: black;

}
.next {
    height: 400px;
    margin: 0 auto;
    width: 100%;
    background-size: cover;
    background-color: rgb(255, 255, 255);
}
.next1 {
    height: 1000px;
    margin: 0 auto;
    width: 100%;
    background-size: cover;
    background-color: rgb(94, 94, 116);
}
.next2 {
    height: 130px;
    margin: 0 auto;
    width: 100%;
    background-size: cover;
    background-color: rgb(0, 0, 0);
}
   
.mainpct {
    width: 200px;
    padding-top: 20px;

}  
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.nav {

    display: flex;
    float: right;
    padding-top: 20px;
    font-size: 20px;
    


}
.nav__link {
   vertical-align: top;
   display: inline-block;

    margin-right: 35px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color .2s linear
      
}
.nav__link:hover {
    color:rgb(248, 6, 6)
}
.wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.secondpct {
    width: 1000px;
height: 400px;
    background-size: cover;
    overflow: hidden;

}
.name {
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}
.alltext {
width: 500px;
font-size: 20px;
}
.wrap2 {
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.thirdpct {
    height: 310px;
    width: 330px;
    padding-top: 41px;

}
.name1  {
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}
.contactss {
    padding-top: 25px;
    text-decoration: none;
    vertical-align: top;
   display: inline-block;
   color: white;
   font-size: 25px;
   
}
li {
    list-style-type: none; 
   }
   ul {
    padding-left: 0;
   }
   .lastcol .div {
       width: 70px;
   }
   .wrap3 {
    justify-content: space-between;
    align-items: center;
    display: flex;
    
    

   }
   .columns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    padding-top: 72px;
    
    
    
   }
   input.inputstyle {
     width: 500px;  
     height: 100px;
     background-color: rgba(235, 232, 227, 0.247);
     margin-bottom: 15px;
    
    
   }
   input.inputstyle1 {
    width: 500px;  
    height: 30px; 
    background-color: rgba(233, 229, 223, 0.247);
    margin-bottom: 15px;
   }
   input.inputstyle2 {
    width: 500px;  
    height: 30px; 
    background-color: rgba(233, 229, 223, 0.247);
    margin-bottom: 15px;
   }
   .contactss {
       padding-bottom: 10px;
   }
   .send1 {
    width: 200px;  
    height: 45px;
    background-color: rgba(233, 229, 223, 0.247);
   }
  .send2 {
      padding-left: 138px;
  }
  .nav__link1 {
    
    vertical-align: top;
    display: inline-block;
    font-size: 15px;
     margin-right: 35px;
     color: rgb(255, 255, 255);
     text-decoration: none;
     transition: color .2s linear
     
  }
  .navv {
      
    padding-left: 390px;
    padding-top: 20px;
  }
  .nav__link1:hover {
    color:rgb(248, 6, 6)
}
  .lastt {
    padding-left: 447px;
    padding-top: 20px;
    color: white;
   
}
input {
    padding: 0 10px; 
    font-size: 20px; 
    
}

   /* display: flex;
flex-direction: column;
flex-wrap: wrap; */